@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body#tinymce{
	max-width: 770px;
    margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

p{
	margin-bottom: 30px;
	font-size: 17px;
    line-height: 170%;
}

a{
	color: #2ea8ff;
	text-decoration: underline;
}

body#tinymce h2{
	font-weight: 700;
	font-size: 26px;
	line-height: 140%;
	margin-bottom: 40px;
}

body#tinymce h3{
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 40px;
}

.alignright {
    float:right;
    margin: 5px 0 40px 40px;
}

.alignleft {
    float: left;
    margin: 5px 40px 40px 0;
}

.paragraph_first{
	font-style: italic;
	font-weight: 500;
	font-size: 22px;
	line-height: 160%;
	margin-bottom: 40px;
}

.highlight{
	background: #b7e1ff;
}

.paragraph_line_bottom{
	font-weight: 500;
	font-size: 22px;
	line-height: 170%;
	text-align: center;
	padding: 60px 20px 0px;
	margin-bottom: 60px;
}

.paragraph_line_bottom:after{
	content:'';
	display: block;
	background: #FF6E04;
	height: 3px;
	width: 80px;
	margin: 40px auto 0;
}

.paragraph_line_bottom_b_gray{
	font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    padding: 60px 20px 60px;
    margin-bottom: 60px;
	background: #F8FAFC;
}

.paragraph_line_bottom_b_gray:after{
	content:'';
	display: block;
	background: #FF6E04;
	height: 3px;
	width: 80px;
	margin: 40px auto 0;
}

.quote_blue{
    background: #E7F5FF;
    border-radius: 20px;
    padding: 24px;
	position: relative;
}

.quote_blue:before{
	content:'';
	display: block;
	background: url('images/quote_blue.png');
	width: 46px;
	height: 35px;
	position: absolute;
    top: -20px;
}

.quote_quotes_orange{
	font-size: 22px;
	line-height: 170%;
	display: flex;
	margin: 60px 0;
}

.quote_quotes_orange:before{
	content:url('images/quotes.png');
	margin-right: 40px;
	width: 26px;
}

body#tinymce ol{
    list-style-type: none;
    counter-reset: list;
	clear: both;
	padding: 0;
	margin-bottom: 60px;
}

body#tinymce ol li{
    margin-bottom: 25px;
    min-height: 50px;
    position: relative;
	padding-left: 70px;
}

body#tinymce ol li:before{
    content: counter(list);
    counter-increment: list;
    font-size: 17px;
    line-height: 170%;
    width: 50px;
    height: 50px;
    background: #EFF2F4;
    border-radius: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -12px;
    position: absolute;
    left: 0;
}

body#tinymce ol.big_number_list{
	margin-bottom: 30px;
    min-height: 100px;
	margin-bottom: 30px;
}

body#tinymce ol.big_number_list li:before{
    content: counter(list, decimal-leading-zero);
    font-weight: 300;
    font-size: 90px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #D3DCE2;
    background: none;
    height: 100px;
    width: 90px;
	top: 0;
}

body#tinymce ol.big_number_list li{
    margin-bottom: 25px;
    min-height: 100px;
    position: relative;
    padding-left: 140px;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

body#tinymce ul{
    list-style-type: none;
    counter-reset: list;
	clear: both;
	padding: 0;
    margin-bottom: 60px;
}

body#tinymce ul li{
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}

body#tinymce ul li:before {
    content: '';
	background: #FF6E04;
	height: 8px;
	width: 8px;
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
}

body#tinymce ol[start="1"]{
	counter-reset: list 0!important;
}

body#tinymce ol[start="2"]{
   counter-reset: list 1!important;
}

body#tinymce ol[start="3"]{
   counter-reset: list 2!important;
}

body#tinymce ol[start="4"]{
   counter-reset: list 3!important;
}

body#tinymce ol[start="5"]{
   counter-reset: list 4!important;
}

body#tinymce ol[start="6"]{
   counter-reset: list 5!important;
}

body#tinymce ol[start="7"]{
   counter-reset: list 6!important;
}

body#tinymce ol[start="8"]{
   counter-reset: list 7!important!important;
}

body#tinymce ol[start="9"]{
   counter-reset: list 8!important;
}

body#tinymce ol[start="10"]{
   counter-reset: list 9!important;
}

body#tinymce ol[start="11"]{
   counter-reset: list 10!important;
}

body#tinymce ol[start="12"]{
   counter-reset: list 11!important;
}

body#tinymce ol[start="13"]{
   counter-reset: list 12!important;
}

body#tinymce ol[start="14"]{
   counter-reset: list 13!important;
}

body#tinymce ol[start="15"]{
   counter-reset: list 14!important;
}

body#tinymce ol[start="16"]{
   counter-reset: list 15!important;
}

body#tinymce ol[start="17"]{
   counter-reset: list 16!important;
}

body#tinymce ol[start="18"]{
   counter-reset: list 17!important;
}

body#tinymce ol[start="19"]{
   counter-reset: list 18!important;
}

body#tinymce ol[start="20"]{
   counter-reset: list 19!important;
}

body#tinymce ol[start="21"]{
   counter-reset: list 20!important;
}

body#tinymce ol[start="22"]{
   counter-reset: list 21!important;
}

body#tinymce ol[start="23"]{
   counter-reset: list 22!important;
}

body#tinymce ol[start="24"]{
   counter-reset: list 23!important;
}

body#tinymce ol[start="25"]{
   counter-reset: list 24!important;
}

body#tinymce ol[start="26"]{
   counter-reset: list 25!important;
}

body#tinymce ol[start="27"]{
   counter-reset: list 26!important;
}

body#tinymce ol[start="28"]{
   counter-reset: list 27!important;
}

body#tinymce ol[start="29"]{
   counter-reset: list 28!important;
}

body#tinymce ol[start="30"]{
   counter-reset: list 29!important;
}

body#tinymce ol[start="31"]{
   counter-reset: list 30!important;
}

body#tinymce ol[start="32"]{
   counter-reset: list 31!important;
}

body#tinymce ol[start="33"]{
   counter-reset: list 32!important;
}

body#tinymce ol[start="34"]{
   counter-reset: list 33!important;
}

body#tinymce ol[start="35"]{
   counter-reset: list 34!important;
}

body#tinymce ol[start="36"]{
   counter-reset: list 35!important;
}

body#tinymce ol[start="37"]{
   counter-reset: list 36!important;
}

body#tinymce ol[start="38"]{
   counter-reset: list 37!important;
}

body#tinymce ol[start="39"]{
   counter-reset: list 38!important;
}

body#tinymce ol[start="40"]{
   counter-reset: list 39!important;
}

span.spoiler, span.spoiler a{
    background: #dfdfdf;
}

/*favbet*/

.full-favbet{
    max-width: 100%!important;
    width: 100%!important;
}

h2.h2-favbet{
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: block;
}

h2.h2-favbet:before{
    content: '';
    height: 45px;
    width: 100%;
    background: linear-gradient(90deg, #140474 0%, #FF3486 20%,#FF267E 50%,rgba(255, 38, 126, 0.00) 100%);
    position: absolute;
    z-index: -1;
    left: 0;
}

h2.h2-favbet span{
    display: inline-block;
    background: #fff;
    height: 45px;
    padding: 0 20px;
    margin-left: 180px;
}

.author-right {
    float: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.citata1-favbet, .citata3-favbet{
    border-radius: 20px;
    background: linear-gradient(270deg, #140474 1.3%, #FF267E 100%);
    padding: 60px 60px;
    margin: 40px 20px 40px;
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.citata1-favbet:before, .citata3-favbet:before{
    content: url("https://itc.ua/wp-content/themes/ITC_6.0/images/double-quotes.svg");
    display: block;
    margin-bottom: 20px;
}
.citata1-favbet .author-block, .citata3-favbet .author-block{
    display: flex;
}
.citata1-favbet .author-left img, .citata3-favbet .author-left img{
    width: 100px;
    border-radius: 50%;
    margin-right: 15px;
    border: 10px solid rgba(255, 255, 255, 0.20);
}
.citata1-favbet .author-right p:first-child, .citata3-favbet .author-right p:first-child{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px!important;
    line-height: 1;
}
.citata1-favbet .author-right p:last-child, .citata3-favbet .author-right p:last-child{
    font-size: 14px;
    margin: 0!important;
    line-height: 1;
}

.citata3-favbet{
    font-size: 24px;
    position: relative;
    padding: 60px 60px;
}
.citata3-favbet > p{
    max-width: 390px;
    margin: 0 0 50px;
}
.citata3-favbet .author-left img {
    width: 300px;
    border-radius: 0;
    margin-right: 0;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.citata2-favbet{
    border-radius: 20px;
    background: linear-gradient(270deg, #140474 1.3%, #FF267E 100%);
    padding: 40px 70px;
    margin: 40px auto 40px;
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    max-width: 700px;
}
.citata2-favbet:before{
    content: url("https://itc.ua/wp-content/themes/ITC_6.0/images/double-quotes.svg");
    display: block;
    margin-bottom: 20px;
}
.citata2-favbet .author-block{
    display: flex;
    flex-direction: column;
}
.citata2-favbet .author-left img {
    width: 100px;
    border-radius: 50%;
    margin-right: 15px;
    border: 10px solid rgba(255, 255, 255, 0.20);
}
.citata2-favbet .author-right {
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.citata2-favbet .author-right p:first-child{
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 0!important;
    line-height: 1;
}
.citata2-favbet .author-right p:last-child{
    font-size: 14px;
    margin: 0!important;
}

.image1-favbet{
    width: 100%;
    margin: 40px auto;
    position: relative;
    z-index: 1;
    max-width: 700px;
}

.image1-favbet img{
    border-radius: 10px;
}

.image1-favbet:before{
    content: '';
    border-radius: 10px;
    background: linear-gradient(270deg, #140474 1.3%, #FF267E 100%);
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 10px;
    right: 10px;
    z-index: -1;
}

.block1-favbet{
    background: linear-gradient(270deg, rgba(20, 4, 116, 0.20) 1.3%, rgba(255, 38, 126, 0.20) 100%);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 80px 100px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.block1-favbet:after{
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    flex-shrink: 0;
    background: #FF267E;
    margin-top: 40px;
}

.block2-favbet{
    background: linear-gradient(270deg, #140474 1.3%, #05C48A 100%);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 80px 100px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
.block2-favbet:after{
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    flex-shrink: 0;
    background: #FFF;
    margin: 40px auto 0;
}

body#tinymce ul.list1-favbet li:before{
    content: url("https://itc.ua/wp-content/themes/ITC_6.0/images/list1.svg");
    background: none;
    height: 44px;
    width: 44px;
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
}

body#tinymce ul.list1-favbet li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: none;
    padding-left: 65px;
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

body#tinymce ul.list2-favbet li:before{
    content: url("https://itc.ua/wp-content/themes/ITC_6.0/images/list2.svg");
    background: none;
    height: 2px;
    width: 40px;
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
}

body#tinymce ul.list2-favbet li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: none;
    padding-left: 65px;
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.img-favbet{
    border-radius: 10px;
}

.blocks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.block-gray{
    padding: 20px;
    background: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 20px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin: 10px;
}