li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    overflow-wrap: break-word;
}