.page-news {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 0;
    width: 100%;

}

.block-info-img-page {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.page-news-list li {
    list-style: decimal;
    list-style-type: square;
    list-style-position: inside;
    margin: 0 0 25px 0;
}

.page-news-list li::marker {
    color: brown;
    font-size: 25px;
}

p {
    margin-bottom: 15px;

}

h3 {
    font-size: 25px;
    margin: 30px 0 10px;
}

iframe {
    display: block;
    max-width: 100%;
    height: 500px;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    gap: 15px;
    padding: 10px;
    scroll-behavior: smooth;
}

.scroll-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.coment {
    padding: 15px;
    background-color: rgba(218, 126, 126, 0.348);
    border-radius: 20px;
}